

#header-nav {
  background-color: #87CEFA;
  border-radius: 0;
  border: 0;
  padding-top: 25px;
}
.navbar-brand {
  position: relative;
  padding: 8px 0px 20px 0px;
}
.navbar-brand h1 {
  float: left;
  font-size: 1.5em;
  color: #FFFAFA;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 40px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-size: 1.4em;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFFAFA;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}